{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
        <main class="container text-center py-5">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">Transacted</th>
                </tr>
                </thead>
                <!--Use a Jquery for loop to iterate through each transaction and place in table-->
                <tbody>
                {% for share in shares %}
                <tr>
                    <td class="text-start">{{ share.symbol }}</td>
                    <td class="text-end">{{ share.shares }}</td>
                    <td class="text-end">{{ share.price | usd }}</td>
                    <td class="text-end">{{ share.time }}</td>
                </tr>
                {% endfor %}
                </tbody>
                <!--Endfor loop-->
            </table>
        </main>



{% endblock %}
