{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
        <main class="container text-center py-5">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">Total</th>
                </tr>
                </thead>
                <tbody>
                <!--Use a Jquery for loop to iterate through each stock and place in table-->
                {% for share in shares %}
                <tr>
                    <td class="text-start">{{ share.symbol }}</td>
                    <td class="text-start">{{ share.name }}</td>
                    <td class="text-end">{{ share.shares }}</td>
                    <td class="text-end">{{ share.price | usd }}</td>
                    <td class="text-end">{{ share.total | usd }}</td>
                </tr>
                {% endfor %}
                <!--Endfor loop-->
                </tbody>
                <tfoot>
                    <tr>
                        <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                        <td class="border-0 text-end" colspan="4">{{ user_cash.cash | usd }}</td>
                    </tr>
                    <tr>
                        <td class="border-0 fw-bold text-end" colspan="4">Total</td>
                        <td class="border-0 fw-bold text-end">{{ total_cash | usd }}</td>
                    </tr>
                </tfoot>
            </table>


        </main>

{% endblock %}
